.App {
  text-align: center;
}
.main {
  display: flex;
}
.navbar {
  width: 85%;
}
.navbar nav ul{
  display: flex;
  justify-content: right;
}
.navbar nav ul .link{
  margin-right: 1rem;
  text-decoration: none;
  color: #fff;
}
.navbar nav ul .active{
  color: aqua;
}
.home {
  text-align: center;
  font-size: 3rem;
  margin-top: 15%;
}
.about {
  text-align: center;
  font-size: 3rem;
  margin-top: 15%;
}
.sidebar {
  display: grid;
  width: 15%;
  background-color: #323946;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 15px;
}
.sidebar button {
  color: #1f242d;
  margin-top: 1rem;
}
.sidebar h1 span {
  color: aqua;
}
.todoform input {
  border-radius: 8px;
  height: 3vh;
  padding-left: 10px;
}
.todoform button {
  background: goldenrod;
  margin-left: 5px;
}
.todolist {
  width: 40%;
  display: flex;
  justify-content: center;
  margin-left: 25%;
}