* {
    background: #1f242d;
    color: aqua;
    padding-top: 0.15rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

header {
    justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.navbar {
    display: flex;
    justify-content: right;
    background: #1f242d;
}

.navbar a {
    background: #1f242d;
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 20px;
    justify-content: right;
}

.navbar a:hover,
.navbar a.active {
	color: aqua;
}

nav .name {
    justify-content: left;
}

nav ul {
    background: grey;
    margin-right: 2rem;
}

nav span {
    text-align: right;
}

.container {
    width: 100%;
    height: 100vh;
    padding-top: 2rem;
}

h1 {
    text-align: center;
}

.cource_img img {
    width: 10rem;
    height: 10rem;
}
.container {
    width: fit-content;
    padding-left: 5rem;
    padding-right: 1rem;
}